body  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Zen Dots', cursive;
}
.container {
    display: grid;
    justify-content: center;
    width: 70vmin;
    height: 70vmin;
    align-content: center;
    position: relative;
}
.item {
    border: 0.2vmin solid black; 
}
.button {
    position: relative;
    border: 0.5vmin solid;
    border-radius: 1vh;
    margin: 1rem;
    font-size: 1rem;
    font-style: italic;
    width: 20vmin;
    height: 10vmin;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}
.button:hover {
    box-shadow: 0.5vmin 0.5vmin 0.5vmin black;
}